alabaster==0.7.7
Babel==2.2.0
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2015.11.20.1
colorama==0.3.6
cycler==0.10.0
decorator==4.0.9
docutils==0.12
#functools32==3.2.3.post2                         # backport for Python 2.7 only
ipykernel==4.2.2
ipython==4.1.1
ipython-genutils==0.1.0
Jinja2==2.8
jsonschema==2.5.1
jupyter-client==4.1.1
jupyter-core==4.0.6
MarkupSafe==0.23
matplotlib==1.5.1
mistune==0.7.1
nbconvert==4.1.0
nbformat==4.0.1
nbsphinx==0.2.2
nose==1.3.7
notebook==4.0.6
numpy==1.10.4
numpydoc==0.5
openpyxl==2.3.2                                  # for pandas to_excel()
pandas==0.18.0
path.py==8.1.2
pickleshare==0.6
pkginfo==1.2.1
Pygments==2.1.1
pyparsing==2.1.0
python-dateutil==2.4.2
pytz==2015.7
pyzmq==15.2.0
requests==2.9.1
requests-toolbelt==0.6.0
runipy==0.1.5
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.3.5
sphinx-rtd-theme==0.1.9
tornado==4.3
traitlets==4.1.0
twine==1.6.5
wheel==0.24.0
xlrd==0.9.3                                      # for pandas ExcelFile 

# ======================
# REQUIREMENTS REFERENCE
# ======================

# Install requirements
# ====================
# matplotlib, nose, notebook, numpy, pandas

# Build requirements
# ==================
# cycler, pyparsing, pkginfo, python-dateutil
# pytz, requests, requests-toolbelt, six
# wheel, setuptools, twine, pip, conda

# Jupyter requirements
# ====================
# decorator, functools32, ipykernel, ipython
# ipython-genutils, ipywidgets, Jinja2, jsonschema
# jupyter, jupyter-client, jupyter-console, jupyter-core
# MarkupSafe, mistune, nbconvert, nbformat, path.py
# pickleshare, Pygments, pyzmq, qtconsole
# simplegeneric, singledispatch, tornado, traitlets
# backports-abc, backports.ssl-match-hostname, certifi

# RTD requirements
# ================
# nbsphinx, ipykernel, numpydoc

# Test requirements
# =================
# coverage, nose-cov

# Panadas ExcelWriter
# ===================
# openpyxl, xlrd
