# Basic installation requirements
# Based on default env (curr. Python 2 dependencies)
# See dev_requirements for frozen deps (used in Travis)
# Employing the Development Cycle Workflow (0.4.12)

# Critical dependencies
matplotlib==1.5.1
nose==1.3.7
notebook==4.2.0
numpy==1.10.4
pandas==0.18.0

# RTD requirements
nbsphinx==0.2.2
ipykernel==4.2.2
numpydoc==0.5

# Pandas requirements
openpyxl==2.3.2                                   # for pandas to_excel()

# Py2/3
six==1.10.0                                       # metaclass requirements
