matplotlib==1.4.3
numpy==1.9.2
pandas==0.16.2
pyparsing==2.0.6
python-dateutil==2.4.2
pytz==2015.7
six==1.10.0


# References
# ----- ---------                           -------------
# (001) Pinning Dependencies                http://nvie.com/posts/pin-your-packages/
# (002) Improved Package Management         http://nvie.com/posts/better-package-management/
# (003) install_requires                    http://python-packaging-user-guide.readthedocs.org/en/latest/requirements/

